@model Proyecto_Grupo3.Models.TRegistroUsuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Eliminar Usuario</h1>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdUsuario" />
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Usuario</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="IdentificacionUsuario"></label>
                        <input asp-for="IdentificacionUsuario" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="NombreCompleto"></label>
                        <input asp-for="NombreCompleto" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Correo"></label>
                        <input asp-for="Correo" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="TipoUsuario"></label>
                        <input asp-for="TipoUsuario" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Estado"></label>
                        <input asp-for="Estado" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Contraseña"></label>
                        <input asp-for="Contraseña" disabled class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-outline-danger" style="width:150px">Eliminar</button>
                    <a asp-controller="RegistroUsuarios" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
