@model Proyecto_Grupo3.Models.TRegistroCliente

@{
    ViewData["Title"] = "Crear Cliente";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Crear Cliente</h1>
            </div>
            <form asp-action="Create">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Cliente</h2>
                        <hr />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="IdentificacionCliente"></label>
                        <input asp-for="IdentificacionCliente" class="form-control" />
                        <span asp-validation-for="IdentificacionCliente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NombreCompleto"></label>
                        <input asp-for="NombreCompleto" class="form-control" />
                        <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Correo"></label>
                        <span asp-validation-for="Correo" class="text-danger"></span>
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style="width:150px">Crear</button>
                    <a asp-controller="RegistroClientes" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
