@model Proyecto_Grupo3.Models.TTiposProducto

@{
    ViewData["Title"] = "Detalles Tipo de Producto";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Detalles del Tipo de Producto</h1>
            </div>
            <h4 class="py-3">Tipo de Producto</h4>
            <hr />
            <div class="accordion mb-4" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            @Html.DisplayNameFor(model => model.CodigoTipoProducto)
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            @Html.DisplayFor(model => model.CodigoTipoProducto)
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            @Html.DisplayNameFor(model => model.DescripcionTipoProducto)
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            @Html.DisplayFor(model => model.DescripcionTipoProducto)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class=" w-70 btn-group" role="group">
    <a asp-controller="TiposProductos" asp-action="Index" class="btn btn-outline-secondary mx-2"> <i class="bi bi-pencil-square"></i>Volver</a>
</div>
