@model Proyecto_Grupo3.Models.TTiposProducto

@{
    ViewData["Title"] = "Editar Tipo de Producto";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Editar Tipo de Producto</h1>
            </div>
            <form asp-action="Edit">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Tipo de Producto</h2>
                        <hr />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CodigoTipoProducto" />
                    <div class="mb-3">
                        <label asp-for="DescripcionTipoProducto"></label>
                        <input asp-for="DescripcionTipoProducto" class="form-control" />
                        <span asp-validation-for="DescripcionTipoProducto" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style="width:150px">Actualizar</button>
                    <a asp-controller="TipoProductos" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
