@{
    ViewData["Title"] = "Home";
}

<main class="my-5 row">
    <div class="my-3 row">
        <h3 class="my-3 text-primary">Bienvenido @ViewData["nombreUsuario"]</h3>
    </div>
    <h1 class="my-3 row">Productos</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Canesten V.png" asp-append-version="true" class="card-img-top" alt="Canesten V">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p class="card-text">Canesten V</p>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Canesten V 500mg - 1 Ovulo Vaginal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Conrelax Plus.jpg" asp-append-version="true" class="card-img-top" alt="Conrelax Plus">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <p class="card-text">Conrelax Plus</p>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Conrelax Plus 50mg / 4mg - Tabletas via oral</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Crema Filoderma.jpg" asp-append-version="true" class="card-img-top" alt="Crema Filoderma">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <p class="card-text">Crema Filoderma</p>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Filoderma crema aclarante quitamanchan 50gr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Dolo-Neurobion.jpg" asp-append-version="true" class="card-img-top" alt="Dolo-Neurobion">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <p class="card-text">Dolo-Neurobion</p>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Dolo-Neurobion N - Tabletas via oral</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Electrolit.jpg" asp-append-version="true" class="card-img-top" alt="Electrolit">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            <p class="card-text">Electrolit</p>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Electrolit suero rehidratante de coco 625ml</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Glucerna.png" asp-append-version="true" class="card-img-top" alt="Glucerna">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                            <p class="card-text">Glucerna</p>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Glucerna de vainilla 900gr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Jabon liquido Asepxia.jpg" asp-append-version="true" class="card-img-top" alt="Jabon liquido Asepxia">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                            <p class="card-text">Jabon Liquido Asepxia</p>
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Asepxia carbon jabon liquido 200ml</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Nervotamin.jpg" asp-append-version="true" class="card-img-top" alt="Nervotamin">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                            <p class="card-text">Nervotamin</p>
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Nervotamin D - Tabletas via oral</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Panadol Niños.jpg" asp-append-version="true" class="card-img-top" alt="Panadol Niños">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                            <p class="card-text">Panadol para niños</p>
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Panadol niños 80mg - Tabletas masticables via oral</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Seretide Diskus.jpg" asp-append-version="true" class="card-img-top" alt="Seretide Diskus">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                            <p class="card-text">Seretide Diskus</p>
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Seretide Diskus INH 250mcg - Inhalador via oral</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Goicoechea.jpg" asp-append-version="true" class="card-img-top" alt="Goicoechea">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                            <p class="card-text">Goicoechea</p>
                        </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Goicoechea Diabetex Crema 400ml</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Imagenes/Vick Vaporub.png" asp-append-version="true" class="card-img-top" alt="Vick Vaporub">
                <div class="accordion-item card-body">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                            <p class="card-text">Vick Vaporub</p>
                        </button>
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="card-text">Vick Vaporub ungüento 12gr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
