@model Proyecto_Grupo3.Models.TProducto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Eliminar Producto</h1>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="NombreCategoria" />
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Producto</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="NombreCategoria"></label>
                        <input asp-for="NombreCategoria" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CodigoTipoProducto"></label>
                        <select asp-for="CodigoTipoProducto" class="form-control" asp-items="ViewBag.CodigoTipoProducto" disabled class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NombreProducto"></label>
                        <input asp-for="NombreProducto" disabled class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-outline-danger" style="width:150px">Eliminar</button>
                    <a asp-controller="Productos" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
