@model Proyecto_Grupo3.Models.TFactura

@{
    ViewData["Title"] = "Crear Factura";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Crear factura</h1>
            </div>
            <form asp-action="Create">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Factura</h2>
                        <hr />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdFactura" />
                    <div class="mb-3">
                        <label asp-for="CodigoFactura"></label>
                        <input asp-for="CodigoFactura" class="form-control" />
                        <span asp-validation-for="CodigoFactura" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="FechaCompra"></label>
                        <input asp-for="FechaCompra" class="form-control" />
                        <span asp-validation-for="FechaCompra" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="IdCliente"></label>
                        <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                        <span asp-validation-for="IdCliente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="MetodoPago"></label>
                        <input asp-for="MetodoPago" class="form-control" />
                        <span asp-validation-for="MetodoPago" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Subtotal"></label>
                        <input asp-for="Subtotal" class="form-control" />
                        <span asp-validation-for="Subtotal" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Iva"></label>
                        <input asp-for="Iva" class="form-control" />
                        <span asp-validation-for="Iva" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Total"></label>
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CodigoProducto"></label>
                        <select asp-for="CodigoProducto" class="form-control" asp-items="ViewBag.CodigoProducto"></select>
                        <span asp-validation-for="CodigoProducto" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CantidadProductos"></label>
                        <input asp-for="CantidadProductos" class="form-control" />
                        <span asp-validation-for="CantidadProductos" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style="width:150px">Crear</button>
                    <a asp-controller="Facturas" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
