@model Proyecto_Grupo3.Models.TFactura

@{
    ViewData["Title"] = "Eliminar Factura";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Eliminar Factura</h1>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdFactura" />
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Factura</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CodigoFactura"></label>
                        <input asp-for="CodigoFactura" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="FechaCompra"></label>
                        <input asp-for="FechaCompra" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="IdCliente"></label>
                        <select asp-for="IdCliente" disabled class="form-control" asp-items="ViewBag.IdCliente"></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="MetodoPago"></label>
                        <input asp-for="MetodoPago" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Subtotal"></label>
                        <input asp-for="Subtotal" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Iva"></label>
                        <input asp-for="Iva" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Total"></label>
                        <input asp-for="Total" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CodigoProducto"></label>
                        <select asp-for="CodigoProducto" disabled class="form-control" asp-items="ViewBag.CodigoProducto"></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CantidadProductos"></label>
                        <input asp-for="CantidadProductos" disabled class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-outline-danger" style="width:150px">Eliminar</button>
                    <a asp-controller="Facturas" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
