@model Proyecto_Grupo3.Models.TProductosVendido

@{
    ViewData["Title"] = "Agregar Producto al Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1>Agregar Productos al inventario</h1>
            </div>
            <form class="my-3" asp-action="Create">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Producto al inventario</h2>
                        <hr />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="CodigoTipoProducto"></label>
                        <select asp-for="CodigoTipoProducto" class="form-control" asp-items="ViewBag.CodigoTipoProducto"></select>
                        <span asp-validation-for="CodigoTipoProducto" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DescripcionProducto"></label>
                        <input asp-for="DescripcionProducto" class="form-control" />
                        <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Precio"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(u => u.Estado)
                        @Html.DropDownListFor(u => u.Estado, new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Elija una opcion", Value = "Elija una opcion", Disabled = true, Selected = true},
                        new SelectListItem() {Text = "Activo", Value = "Activo"},
                        new SelectListItem() {Text = "Inactivo", Value = "Inactivo"},

                        }, new { @class = "form-control" })
                        @Html.ValidationMessage("Estado")
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Cantidad"></label>
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style="width:150px">Crear</button>
                    <a asp-controller="ProductosVendidos" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

