@model Proyecto_Grupo3.Models.TProductosVendido

@{
    ViewData["Title"] = "Eliminar Producto Vendido";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Eliminar Producto Vendido</h1>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CodigoProducto" />
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Producto Vendido</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CodigoProducto"></label>
                        <input asp-for="CodigoProducto" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CodigoTipoProducto"></label>
                        <select asp-for="CodigoTipoProducto" asp-items="ViewBag.CodigoTipoProducto" disabled class="form-control"></select>
                        <input asp-for="CodigoTipoProducto" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="DescripcionProducto"></label>
                        <input asp-for="DescripcionProducto" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Precio"></label>
                        <input asp-for="Precio" disabled class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Estado"></label>
                        <select asp-for="Estado" disabled class="form-control" asp-items="ViewBag.IdCliente"></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Cantidad"></label>
                        <input asp-for="Cantidad" disabled class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-outline-danger" style="width:150px">Eliminar</button>
                    <a asp-controller="ProductosVendidos" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
